:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light ;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
 
  min-height: 100vh;
  padding: 20px;
}
.header{
  display: flex;
  justify-content: space-between;
}

.left-container {
  display: flex;
  justify-content: space-around;
  width: 50%;
}
.left-container .logo{
 height: 50px;
}
.right-container img{
  height: 50px;
}
.logo-txt{
  align-self: center;
}
.badge-counter {
background-color: #00ba9f;
color: white;
padding: 4px 8px;
text-align: center;
border-radius: 9px;
}
.search {
  width: 70%;
  position: relative;
  display: flex;
  align-items: center;
}

.searchTerm {
  width: 100%;
  border: none;
  border-right: none;
  padding: 5px;
  min-height: 36px;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: black;
}

.searchTerm:focus{
  color: #ff0081;
}

.searchButton {
  width: 40px;
  height: 35px;
  border: 1px solid #ff0081;
  background: #ff0081;
  text-align: center;
  color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 20px;
}
.searchButton img{
  width: 30px;
}
.main-tittle{
  margin: 10px
}

/* select */
.custom-select{
  font-size: 1rem;
  display: flex;
}
/* grid */
.grid-container>* {
  box-shadow: 10px 6px 37px -13px rgba(51, 51, 51, 0.74);
  border-radius: 2px;
  padding: 10px;
  text-align: center;
  font-weight: 500;
}

.grid-container {
  display: grid;
  gap: 20px;
  grid-template:
      "header" 80px
      "main" auto
      "footer"100px;

  .header {
      grid-area: header;
      background-color: #f4fae0;
  }

  .main {
      grid-area: main;
      background-color: #f5f5f5;
  }

  .footer {
      grid-area: footer;
      background-color: #f4fae0;
  }
  /* tarjetas */
  .check-card {
      list-style: none;
      /* margin: 40px auto; */
      /* min-width: 320px; */
      padding: 0;
  }
  .check-card .check-card-item {
       display: flex;
      /* width: 100%; */
      margin: 0 0 15px;
      font-size: 16px;
      background:#a0a884;
      overflow: hidden;
  }
  .check-card li label {
      display: block;
      position: absolute;
      height: 300px;
      width: 100%;
      z-index: 100;
      cursor: pointer;
  }
  .check-card .check-card-body {
      /* height: 300px; */
      color: #fff;
      z-index: 2;
      display: flex;
      align-items: center;
      flex-direction: row;
      justify-content: center;
      flex-wrap: wrap;
  }
   .check-card-body-in {
      padding: 40px 20px 20px;
      
  }
  .check-card .check-card-title {
      font-family: 'Oswald', sans-serif;
      font-size: 1.2em;
      margin: 10px;
  }
  .check-card .check-card-bg,
  .check-card .check-card-toggle {
      position: relative;
      background: #2e2d37;
      width: 36px;
      height: 36px;
      top: 10px;
      left: 10px;
      -webkit-border-radius: 50%;
      border-radius: 50%;
  }
  .check-card .check-card-bg {
      position: absolute;
      background: #2e2d37;
      -webkit-transition: all .3s ease-out;
      transition: all .3s ease-out;
      -webkit-transform:scale(1);
      transform:scale(1);
      z-index: 0;
  }
  .check-card-description{
    font-size: 1.2rem;
  }
  
  .img-prod{
      width: 140px;
  }
  /* button agregar carrito */
  .badge {
      display: inline-block;
      padding: 0.4em 1em;
      font-size: 0.9em;
      font-weight: bold;
      color: white;
      background-color: #00ba9f; /* Color de fondo */
      border-radius: 12px; /* Bordes redondeados */
      text-transform: uppercase;
      margin: 17px;
  }

/* footer */
.ul-footer {
  margin: 0px;
  padding: 0px;
}
.footer-section {
background: white;
position: relative;
}
.footer-cta {
border-bottom: 1px solid #7d9561;
}
.single-cta i {
color: #7d9561;
font-size: 30px;
float: left;
margin-top: 8px;
}
.cta-text {
padding-left: 15px;
display: inline-block;
}
.cta-text h4 {
color: #fff;
font-size: 20px;
font-weight: 600;
margin-bottom: 2px;
}
.cta-text span {
color: #757575;
font-size: 15px;
}
.footer-content {
position: relative;
z-index: 2;
}
.footer-pattern img {
position: absolute;
top: 0;
left: 0;
height: 330px;
background-size: cover;
background-position: 100% 100%;
}
.footer-logo {
margin-bottom: 30px;
}
.footer-logo img {
  max-width: 200px;
}
.footer-text p {
margin-bottom: 14px;
font-size: 14px;
    color: #7e7e7e;
line-height: 28px;
}
.footer-social-icon span {
color: #fff;
display: block;
font-size: 20px;
font-weight: 700;
font-family: 'Poppins', sans-serif;
margin-bottom: 20px;
}
.footer-widget{
  display: flex;
  align-items: center;
  flex-direction: column;
}
.footer-widget-heading h3 {
color: #fff;
font-size: 20px;
font-weight: 600;
margin-bottom: 40px;
position: relative;
}
.footer-widget-heading h3::before {
content: "";
position: absolute;
left: 0;
bottom: -15px;
height: 2px;
width: 50px;
background: #245229;
}
.footer-widget ul li {
display: inline-block;
float: left;
width: 50%;
margin-bottom: 12px;
}
.footer-widget ul li a:hover{
color: #245229;
}
.footer-widget ul li a {
color: #878787;
text-transform: capitalize;
}

.copyright-area{
background:#f4fae0;
padding: 25px 0;
}
.copyright-text p {
margin: 0;
font-size: 14px;
color: #878787;
}
.copyright-text p a{
color: #245229;
}
.footer-menu li {
display: inline-block;
margin-left: 20px;
}
.footer-menu li:hover a{
color: #245229;
}
.footer-menu li a {
font-size: 14px;
color: #878787;
}

/* boton */
body {
font-size: 16px;
font-family: "Helvetica", "Arial", sans-serif;
text-align: center;
background-color: #f8faff;
}

.bubbly-button {
font-family: "Helvetica", "Arial", sans-serif;
display: inline-block;
font-size: 1em;
padding: 16px;
margin-bottom: 1%;
-webkit-appearance: none;
appearance: none;
background-color: #ff0081;
color: #fff;
border-radius: 4px;
border: none;
cursor: pointer;
position: relative;
transition: transform ease-in 0.1s, box-shadow ease-in 0.25s;
box-shadow: 0 2px 25px rgba(255, 0, 130, 0.5);
}
.bubbly-button:focus {
outline: 0;
}
.bubbly-button:before, .bubbly-button:after {
position: absolute;
content: "";
display: block;
width: 140%;
height: 100%;
left: -20%;
z-index: -1000;
transition: all ease-in-out 0.5s;
background-repeat: no-repeat;
}
.bubbly-button:before {
display: none;
top: -75%;
background-image: radial-gradient(circle, #ff0081 20%, transparent 20%), radial-gradient(circle, transparent 20%, #ff0081 20%, transparent 30%), radial-gradient(circle, #ff0081 20%, transparent 20%), radial-gradient(circle, #ff0081 20%, transparent 20%), radial-gradient(circle, transparent 10%, #ff0081 15%, transparent 20%), radial-gradient(circle, #ff0081 20%, transparent 20%), radial-gradient(circle, #ff0081 20%, transparent 20%), radial-gradient(circle, #ff0081 20%, transparent 20%), radial-gradient(circle, #ff0081 20%, transparent 20%);
background-size: 10% 10%, 20% 20%, 15% 15%, 20% 20%, 18% 18%, 10% 10%, 15% 15%, 10% 10%, 18% 18%;
}
.bubbly-button:after {
display: none;
bottom: -75%;
background-image: radial-gradient(circle, #ff0081 20%, transparent 20%), radial-gradient(circle, #ff0081 20%, transparent 20%), radial-gradient(circle, transparent 10%, #ff0081 15%, transparent 20%), radial-gradient(circle, #ff0081 20%, transparent 20%), radial-gradient(circle, #ff0081 20%, transparent 20%), radial-gradient(circle, #ff0081 20%, transparent 20%), radial-gradient(circle, #ff0081 20%, transparent 20%);
background-size: 15% 15%, 20% 20%, 18% 18%, 20% 20%, 15% 15%, 10% 10%, 20% 20%;
}
.bubbly-button:active {
transform: scale(0.9);
background-color: #e60074;
box-shadow: 0 2px 25px rgba(255, 0, 130, 0.2);
}
.bubbly-button.animate:before {
display: block;
animation: topBubbles ease-in-out 0.75s forwards;
}
.bubbly-button.animate:after {
display: block;
animation: bottomBubbles ease-in-out 0.75s forwards;
}

@keyframes topBubbles {
0% {
  background-position: 5% 90%, 10% 90%, 10% 90%, 15% 90%, 25% 90%, 25% 90%, 40% 90%, 55% 90%, 70% 90%;
}
50% {
  background-position: 0% 80%, 0% 20%, 10% 40%, 20% 0%, 30% 30%, 22% 50%, 50% 50%, 65% 20%, 90% 30%;
}
100% {
  background-position: 0% 70%, 0% 10%, 10% 30%, 20% -10%, 30% 20%, 22% 40%, 50% 40%, 65% 10%, 90% 20%;
  background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
}
}
@keyframes bottomBubbles {
0% {
  background-position: 10% -10%, 30% 10%, 55% -10%, 70% -10%, 85% -10%, 70% -10%, 70% 0%;
}
50% {
  background-position: 0% 80%, 20% 80%, 45% 60%, 60% 100%, 75% 70%, 95% 60%, 105% 0%;
}
100% {
  background-position: 0% 90%, 20% 90%, 45% 70%, 60% 110%, 75% 80%, 95% 70%, 110% 10%;
  background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
}
}


.img-redes{
  width: 20%;
  margin-top: 15px;
}
/* Queries */
  @media (min-width:768px) {
      grid-template:
          "header " 50px
          "header " 50px
          "main" auto
          "footer footer" 100px/
          200px auto;
  .left-container{
      width: 80%;
  }

  }
  @media (max-width:768px){ 
      .check-card .check-card-item{
      display: flex;
      flex-direction: column;

  }
.img-prod{
  width: 100%;
}
.left-container{
  width: 100%;
}
}
  @media (min-width:992px) {
     
         
      grid-template:
          "header header header" 100px
          " main main" auto
          "footer footer footer" 100px/
          200px auto 200px;
      
  }
}