:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light ;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
 
  min-height: 100vh;
  padding: 20px;
}

/* Queries */
  @media (min-width:768px) {
      grid-template:
          "header " 50px
          "header " 50px
          "main" auto
          "footer footer" 100px/
          200px auto;
  .left-container{
      width: 80%;
  }

  }
  @media (max-width:768px){ 
    .check-card{
      flex-direction: column;
      
    }
      .check-card .check-card-item{
      display: flex;
      flex-direction: column;
width: 100%;
  }
.img-prod{
  width: 100%;
}
.left-container{
  width: 100%;
}
}
  @media (min-width:992px) {
     
         
      grid-template:
          "header header header" 100px
          " main main" auto
          "footer footer footer" 100px/
          200px auto 200px;
      
  }
}