/* Como sugerencia puedes considerar seguir metodologías como BEM u OSCSS para la nomenclatura de clases */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Poppins", sans-serif;
    font-size: 1.2rem;
    min-height: 100vh;
    padding: 20px;
}
.header{
    display: flex;
    justify-content: space-between;
}

.left-container {
    display: flex;
    justify-content: space-around;
    width: 50%;
}

/* ambos estilos hacen uso del tamaño 50px por qué no crear una clase compartida o una clase que se use de manera general para evitar repitar el mismo estilo? */
.left-container .logo{
    height: 50px;
}
.right-container img{
    height: 50px;
}
.logo-txt{
    align-self: center;
}
.search {
    width: 70%;
    position: relative;
    display: flex;
    align-items: center;
  }
  
  .searchTerm {
    width: 100%;
    /* los colores podrían estar definidas como variable en el root del css3 para mantener un orden y reutilizarlos */
    border: 3px solid #80e591;
    border-right: none;
    padding: 5px;
    min-height: 40px;
    border-radius: 5px 0 0 5px;
    outline: none;
    /* los colores podrían estar definidas como variable en el root del css3 para mantener un orden y reutilizarlos */
    color: #9DBFAF;
  }
  
  .searchTerm:focus{
    /* los colores podrían estar definidas como variable en el root del css3 para mantener un orden y reutilizarlos */
    color: #80e591;
  }
  
  .searchButton {
    width: 40px;
    height: 36px;
    /* los colores podrían estar definidas como variable en el root del css3 para mantener un orden y reutilizarlos */
    border: 1px solid #80e591;
    background: #80e591;
    text-align: center;
    color: #fff;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    font-size: 20px;
  }
  .searchButton img{
    width: 30px;
  }
.grid-container>* {
    box-shadow: 10px 6px 37px -13px rgba(51, 51, 51, 0.74);
    border-radius: 2px;
    padding: 10px;
    text-align: center;
    font-weight: 500;
}

.grid-container {
    display: grid;
    gap: 20px;
    grid-template:
        "header" 80px
        "main" auto
        "footer"100px;

    .header {
        grid-area: header;
        background-color: #f4fae0;
    }

    .main {
        grid-area: main;
        background-color: #f5f5f5;
    }

    .footer {
        grid-area: footer;
        background-color: #80e591;
    }
    /* tarjetas */
    .check-card {
        list-style: none;
        margin: 40px auto;
        min-width: 320px;
    }
    .check-card .check-card-item {
         display: flex;
         /* no dejar código que no se usa */
        /* width: 100%; */
        margin: 0 1% 15px;
        font-size: 16px;
        background: #245229;
        overflow: hidden;
    }
    .check-card li label {
        display: block;
        position: absolute;
        height: 300px;
        width: 100%;
        z-index: 100;
        cursor: pointer;
    }
    .check-card .check-card-body {
        /* no dejar código que no se usa */
        /* height: 300px; */
        color: #fff;
        z-index: 2;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
    }
     .check-card-body-in {
        padding: 40px 20px 20px;
        
    }
    .check-card .check-card-title {
        font-family: 'Oswald', sans-serif;
        font-size: 1.5em;
        margin: 10px;
    }
    .check-card .check-card-bg,
    .check-card .check-card-toggle {
        position: relative;
        background: #2e2d37;
        width: 36px;
        height: 36px;
        top: 10px;
        left: 10px;
        -webkit-border-radius: 50%;
        border-radius: 50%;
    }
    .check-card .check-card-bg {
        position: absolute;
        background: #2e2d37;
        -webkit-transition: all .3s ease-out;
        transition: all .3s ease-out;
        -webkit-transform:scale(1);
        transform:scale(1);
        z-index: 0;
    }
    
    
    .img-prod{
        width: 140px;
    }
    .badge {
        display: inline-block;
        padding: 0.4em 1em;
        font-size: 0.9em;
        font-weight: bold;
        color: white;
        /* los colores podrían estar definidas como variable en el root del css3 para mantener un orden y reutilizarlos */
        background-color: #00ba9f; /* Color de fondo */
        border-radius: 12px; /* Bordes redondeados */
        text-transform: uppercase;
        margin: 17px;
    }
/* footer */
.ul-footer {
    margin: 0px;
    padding: 0px;
}
.footer-section {
  background: white;
  position: relative;
}

/* no encontre donde se las clases que están debajo, si no se usan eliminas porque sino estarías agregando código innecesario al build final */
.footer-cta {
  border-bottom: 1px solid #7d9561;
}
.single-cta i {
  color: #7d9561;
  font-size: 30px;
  float: left;
  margin-top: 8px;
}
.cta-text {
  padding-left: 15px;
  display: inline-block;
}
.cta-text h4 {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 2px;
}
.cta-text span {
  color: #757575;
  font-size: 15px;
}
.footer-content {
  position: relative;
  z-index: 2;
}
.footer-pattern img {
  position: absolute;
  top: 0;
  left: 0;
  height: 330px;
  background-size: cover;
  background-position: 100% 100%;
}
.footer-logo {
  margin-bottom: 30px;
}
.footer-logo img {
    max-width: 200px;
}
.footer-text p {
  margin-bottom: 14px;
  font-size: 14px;
      color: #7e7e7e;
  line-height: 28px;
}
.footer-social-icon span {
  color: #fff;
  display: block;
  font-size: 20px;
  font-weight: 700;
  font-family: 'Poppins', sans-serif;
  margin-bottom: 20px;
}
.footer-widget-heading h3 {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 40px;
  position: relative;
}
.footer-widget-heading h3::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -15px;
  height: 2px;
  width: 50px;
  background: #245229;
}
.footer-widget ul li {
  display: inline-block;
  float: left;
  width: 50%;
  margin-bottom: 12px;
}
.footer-widget ul li a:hover{
  color: #245229;
}
.footer-widget ul li a {
  color: #878787;
  text-transform: capitalize;
}

.copyright-area{
  background:#f4fae0;
  padding: 25px 0;
}
.copyright-text p {
  margin: 0;
  font-size: 14px;
  color: #878787;
}
.copyright-text p a{
  color: #245229;
}
.footer-menu li {
  display: inline-block;
  margin-left: 20px;
}
.footer-menu li:hover a{
  color: #245229;
}
.footer-menu li a {
  font-size: 14px;
  color: #878787;
}

.img-redes{
    width: 20%;
}
/* Queries */
/* podrías considerar usar rangos https://gist.github.com/gokulkrishh/242e68d1ee94ad05f488 */
    @media (min-width:768px) {
        grid-template:
            "header " 50px
            "header " 50px
            "main" auto
            "footer footer" 100px/
            200px auto;
    .left-container{
        width: 80%;
    }
  
    }
    @media (max-width:768px){ 
        .check-card .check-card-item{
        display: flex;
        flex-direction: column;

    }
.img-prod{
    width: 100%;
}
.left-container{
    width: 100%;
}
}
    @media (min-width:992px) {
       
           
        grid-template:
            "header header header" 100px
            " main main" auto
            "footer footer footer" 100px/
            200px auto 200px;
        
    }
}